.main{
    width: 1366px;
}
.header{
    height:55px;
    background-color: #323232;
    padding: 0px 55px;
}
.circle{
    border-radius: 50px;
    background-color: white;
    height: 40px;
    width: 40px;
    margin: 0px 8px;
}
.text{
    color:white;
    font-size: 21px;
    font-family: Arial;
}
.phone{
    margin-right: 15px;
}
.email{
    margin:0px 10px;
}
/*dropdown menu left part*/
.menu-left-part{
    padding-left: 40px;
}
.menu-left-part ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu-left-part ul a
{
    display:block;
    color:#323232;
    text-decoration:none;
    font-size:23px;
    padding: 40px 100px 40px 15px;
    font-family:Arial
}

.menu-left-part ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu-left-part ul li a:hover
{
    color:#dfa46a
}

.menu-left-part ul ul
{
    display:none;
    position:absolute;
    z-index: 2;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

.menu-left-part ul ul li
{
    float:none;
    width:200px
}

.menu-left-part ul ul a
{
    line-height:120%;
    padding:10px 15px
}

.menu-left-part ul ul ul
{
    top:0;
    left:100%
}

.menu-left-part ul li:hover > ul
{
    display:block
}
/*dropdown menu right part*/
.menu-right-part{
    padding-right: 40px;
}
.menu-right-part ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu-right-part ul a
{
    display:block;
    color:#323232;
    text-decoration:none;
    font-size:23px;
    padding: 40px 15px 40px 100px;
    font-family:Arial
}

.menu-right-part ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu-right-part ul li a:hover
{
    color:#dfa46a
}

.menu-right-part ul ul
{
    display:none;
    position:absolute;
    z-index: 2;
    top:100%;
    right:0;
    background:#fff;
    padding:0
}

.menu-right-part ul ul li
{
    float:none;
    width:200px
}

.menu-right-part ul ul a
{
    line-height:120%;
    padding:10px 15px
}

.menu-right-part ul ul ul
{
    top:0;
    right:100%
}

.menu-right-part ul li:hover > ul
{
    display:block
}
.slider{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:100px 70px 70px 50px;
    background-image: url("./images/background.png");
}
.textInSlider{
    color: white;
    width: 520px;
    font-size: 22px;
    text-align: justify;
}
.logo{
    position: absolute;
    left: -100px;
    right: 0;
    top:75px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 1;
}
.logoImage{
    width: 175px;
}
.achievement{
    padding:50px 0px 50px 0px;
    font-size: 40px;
    font-family: Arial;
}
.achievementBlock{
    width: 200px;
    margin:0px 25px;
    text-align: center;
}
.achievementBlockTitle{
}
.achievementBlockImage{
    height: 200px;
}
.aboutUs{
    margin-top: 25px;
    background-color: #f1f1f1;
}
.about{
    padding:10px 0px 10px 0px;
    font-size: 40px;
    font-family: Arial;
}
.aboutUsText{
    padding:10px 0px 10px 0px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}
.aboutButton{
    margin-top: 15px;
    padding: 10px 80px;
    background-color: #fddb1d;
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 50px;
}
.news{
    padding:50px 0px 50px 0px;
    font-size: 40px;
    font-family: Arial;
}
.newsPicture{
    height:150px;
}
.pictureTitle{
    font-size: 35px;
    font-family: Arial;
    color: white;
}
.newsTitle{
    font-size: 20px;
    font-family: Arial;
    color: #3b3b3b;
}
.newsDescription{
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    color: #808080;
}
.allNews{
    margin-bottom:25px;
    padding:2px 120px;
    background-color: #fddb1d;
    font-size: 25px;
    font-family: Arial;
    color: #282828;
}
.advantageSection{
    background-color: #f1f1f1;
}
.advantage{
    padding:50px 0px 50px 25px;
    color:#2d2d2d;
    font-size: 30px;
    font-family: Arial;
}
.sectionTitles{
    padding:50px 0px 50px 0px;
    font-size: 40px;
    font-family: Arial;
}
.whatYouGetText{
    text-align: center;
    color:#3b3b3b;
    font-size: 30px;
    margin-bottom:50px;
    max-width:850px;
}
.whatYouGetBlock{
    width:250px;
    text-align: center;
    border-radius: 150px;
    background-color: #fddb1d;
    padding:10px;
    margin:0px 10px 15px 0px;
}
.whatYouGetBlockImage{
    width: 100%;
}
.whatYouGetBlockText{
    margin:25px 0px 55px 0px;
}